<%= form_with(url: users_update_portfolio_url(portfolio), scope: :portfolio, data: { turbo: false }, method: :patch) do |form| %>
  
  <div class = "portfolio-form">
    <%= form.number_field :balance, autocomplete: "off", value: nil, step: 0.01 %>
  </div>

  <div class="transaction-option">
    <div class="deposit-btn">
      <%= form.submit "Deposit" %>
    </div>
    <div class="withdraw-btn">
      <%= form.submit "Withdraw" %>
    </div>
  </div>

<% end %>