<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thank you for signing up to the friendly stock trading application! While we know you're very excited to buy and sell, your account is still pending for admin approval.</p><br>
    <p>Another email will be sent once your account has been approved.</p><br>
    <p>Your sincerely,</p>
    <p><b>ASTR Team</b></p>
  </body>
</html>