<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello, <%= @email %>!</p>
    <p>Welcome to Stock Trading App</p>
    <p>Please wait for the admin to approve your account.<br>
  </body>
</html>