<aside id="sidebar">
  <div class="sidebar-logo">
    <h2>Stock Name App</h2>
    <button>Trade Now</button>
  </div>
  <div class="sidebar-list">
    <ul>
      <h3>MENU</h3>
      <li>Dashboard</li>
      <li>History</li>
      <li>Stocks List</li>
      <li>Settings</li>
    </ul>
    <ul>
      <h3>SUPPORT</h3>
      <li>Contact Us</li>
      <li>Community</li>
    </ul>
  </div>
</aside>