<div id="portfolio-container">
  <%= render "sidebar"%>
  <div class="portfolio-content">
    <%= render "header"%>
    <main class="portfolio-dashboard">
      <figure class="grid-1">1</figure>
      <figure class="grid-2">2</figure>
      <figure class="grid-3">3</figure>
      <figure class="grid-4">4</figure>
      <figure class="grid-5">5</figure>
      <figure class="grid-6">6</figure>
      <figure class="grid-7">
        <div class="balance">
          <h4>Wallet Balance</h4>
          <h3>₱ 0.00</h3>
        </div>
        <div class="change-balance">
          <%= render "balance_form"%>
        </div>
      </figure>
    </main>
  </div>
</div>
