<div id="stocks-container">
  <%= render "portfolios/sidebar"%>
  <div class="stocks-content">
    <%= render "portfolios/header"%>
    <main class="stocks-dashboard">
      <div class="stock-name">
        <h2>Company</h2>
        <ul>
          <li>Microsoft Corp</li>
          <li>Apple Inc</li>
        </ul>
      </div>
      <div class="stock-symbol">
        <h2>Symbol</h2>
        <ul>
          <li>MSFT</li>
          <li>AAPL</li>
        </ul>
      </div>
      <div class="stock-price">
        <h2>Price</h2>
        <ul>
          <li>228.04</li>
          <li>126.63</li>
        </ul>
      </div>
      <div class="stock-delta">
        <h2>Change</h2>
        <ul>
          <li>-11.54</li>
          <li>1.56</li>
        </ul>
      </div>
      <div class="stock-percent-delta">
        <h2>%Change</h2>
        <ul>
          <li>(-4.82%)</li>
          <li>(1.24%)</li>
        </ul>
      </div>
      <div class="stock-options">
        <h2 class="forex-rate">Forex($1 USD -> PHP): 55.84 PHP </h2>
        <div>
          <button>BUY</button>
          <button>SELL</button>
        </div>
        <div>
          <button>BUY</button>
          <button>SELL</button>
        </div>
      </div>
    </main>
  </div>
</div>