<header>
  <div class="welcome-message">
    <h2>Welcome to <strong style="color: rgb(255, 102, 0)">Stock App Name</strong><h2>
    <h4>Good Morning/Afternoon/Evening, <%= current_user.first_name %></h4>
  </div>
  <div class="user-info">
    <span>🔔</span>
    <span>👽</span>
  </div>
</header>