<aside id="sidebar">
  <div class="sidebar-logo">
    <%= image_tag("logo.png") %>
  </div>
  <div class="sidebar-list">
    <ul>
      <h3>MENU</h3>
      <li><%= link_to "Dashboard", dashboard_path%></li>
      <li><%= link_to "Stocks List", stocks_path %></li>
      <li><%= link_to "Order History", orders_path %></li>
      <li>Settings</li>
    </ul>
    <ul>
      <h3>SUPPORT</h3>
      <li>Contact Us</li>
      <li>Community</li>
    </ul>
  </div>
</aside>