<div id="history-container">
  <%= render "portfolios/sidebar"%>
  <div class="history-content">
    <%= render "portfolios/header"%>
    <main class="history-dashboard">
      <div>
        <figure class="transaction-graph">1</figure>
      </div>
      <div class="transaction-type">
        <figure class="buy-transaction">2</figure>
        <figure class="sell-transaction">3</figure>
      </div>
  </div>
</div>
