<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello, <%= @email %>!</p>
    <p>[Approved Account] Welcome to Stock Trading App</p>
    <p>Your account has been approved.<br>
  </body>
</html>