<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thank you for your patience. Your account has been activated upon careful checking.</p><br>
    <p>Happy trading!</p><br>
    <p>Your sincerely,</p>
    <p><b>ASTR Team</b></p>
  </body>
</html>