<div class="container container-lp">
  <%= render "shared/navbar" %>
  <div class="wrapper">
    <div class="lp-details">
      <div class="lp-details-cont">
        <div class="lp-details-1">WELCOME TO //NAME//</div>
        <div class="lp-details-2">//Selling Tagline//</div>
        <div class="lp-details-3">//app description//</div>
        <div class="lp-details-btn">
        <% if current_user %>
          <% if current_user.approved? %>
            <button>
              <%= link_to "Portfolio", users_portfolios_path %>
            </button>
          <% else %>
            <button>
              <%= link_to "Get Started", new_user_registration_path %>
            </button>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
    <div class="lp-photo">
      <div></div>
    </div>
  </div>
</div>