<ul>
  <li><%= link_to "Portfolio Index Page", portfolios_index_path %></li>
  <li><%= link_to "Stock Index Page", stocks_index_path %></li>
</ul>

<h1>Home Page</h1>
<p>Find me in app/views/homes/index.html.erb</p>