$sidebar-width: 15vw;
$portfolio-content-width: calc(100vw - #{$sidebar-width});
$header-height: 8vh;
$main-height: calc(100vh - #{$header-height});
$blueBg: #071742;
$greenBg: #43ef97;
$lightBlueGray: rgb(32, 48, 81);
$main-font: "Fredoka One", cursive;
$sec-font: "Montserrat", sans-serif;

#portfolio-container,
#stocks-container,
.portfolio-content,
.welcome-message,
.user-info,
.stocks-dashboard,
header,
aside {
  display: flex;
  color: white;
}
#portfolio-container,
#stocks-container {
  height: 100vh;
  border: 2px solid black;
  width: 100vw;
  background-color: $blueBg;
}
.portfolio-content,
.stocks-content {
  width: $portfolio-content-width;
  flex-direction: column;
}

aside,
header,
main {
  padding: 0.5em 1em;
}

aside {
  width: $sidebar-width;
  height: 100%;
  border: 2px solid black;
  color: rgb(255, 102, 0);
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;

  .sidebar-logo {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    img {
      width: 100%;
    }

    button {
      padding: 0.5em 1em;
      border-radius: 6px;
      font-weight: 700;
      font-size: 1em;
      background-color: rgb(0, 156, 39);
      color: white;
    }
  }
  .sidebar-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
  }

  ul > h3 {
    font-family: $main-font;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 0.5em;
    opacity: 0.7;
    padding-left: 0.35em;
  }
  li {
    list-style: none;
    margin-bottom: 2em;
    font-family: $sec-font;
    padding: 0.5em 0;
    padding-left: 0.5em;
    color: $greenBg;
    transition: padding-left 250ms linear;

    a {
      width: 100%;
      text-decoration: none;
      color: $greenBg;
    }
  }

  li:hover {
    background-color: $lightBlueGray;
    font-weight: 800;
    padding-left: 2em;
    transition: padding-left 250ms linear;
  }
}

header {
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  border-bottom: 2px solid black;

  .welcome-message {
    flex-direction: column;

    h4 {
      opacity: 0.7;
    }
  }
  .user-info {
    justify-content: center;
    align-items: center;
    gap: 0.7em;
    font-size: 25px;
  }
}
.grid-1 {
  grid-area: grid1;
}
.grid-2 {
  grid-area: grid2;
}
.grid-3 {
  grid-area: grid3;
}
.grid-4 {
  grid-area: grid4;
}
.grid-5 {
  grid-area: grid5;
}
.grid-6 {
  grid-area: grid6;
}
.grid-7 {
  grid-area: grid7;
}
.portfolio-dashboard {
  height: $main-height;
  display: grid;
  gap: 1em;
  grid-template-areas:
    "grid1 grid2 grid2"
    "grid4 grid5 grid5"
    "grid4 grid7 grid7";
  figure {
    border: 1px solid black;
    border-radius: 25px;
    padding: 0.5em 0.7em;
  }

  .grid-1,
  .grid-4 {
    width: calc(#{$portfolio-content-width} * 0.6 - 2em);
  }
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-5,
  .grid-6 {
    height: calc(#{$main-height} * 0.4 - 1.5em);
  }
  .grid-2 {
    // width: calc(#{$portfolio-content-width} * 0.25 - 2em);
    width: auto;
  }
  .grid-3,
  .grid-6 {
    width: calc(#{$portfolio-content-width} * 0.17 - 2em);
  }
  .grid-7 {
    height: calc(#{$main-height} * 0.2 - 1.5em);
  }
  .grid-5 {
    width: auto;
  }
}

.stocks-dashboard {
  height: calc(#{$main-height} - 0.25em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  .stocks-dashboard-header {
    background-color: $lightBlueGray;
    padding: 0.25em 0;
    vertical-align: middle;
    height: 5vh;
    border-bottom: 5px solid white;
    div {
      width: 12%;
      h2 {
        text-align: center;
        font-family: $main-font;
      }
      .forex-rate {
        font-size: 1em;
        opacity: 0.8;
      }
    }
    div:first-child {
      width: 30%;
    }
    div:last-child {
      width: 22%;
      border: none;
    }
  }
  .stocks-dashboard-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-family: $sec-font;
    div {
      width: 12%;
      border-right: 1px solid white;
      h2 {
        text-align: center;
        font-weight: 300;
        border-bottom: 1px solid black;
        height: 4vh;
      }
    }
    div:first-child {
      width: 30%;
    }
    div:last-child {
      width: 22%;
      border: none;
    }
    ul {
      width: 100%;
      height: auto;
      li {
        width: 12%;
        display: inline-flex;
        justify-content: center;
        list-style: none;
        border-right: 1px solid white;
        padding: 0.25em 0;

        a {
          background-color: #1a7747;
          text-decoration: none;
          color: white;
          padding: 0.25em 0.5em;
          border-radius: 4px;
          font-weight: 600;
          transition: color 250ms ease-out;
        }

        a:hover {
          font-weight: 800;
          color: $blueBg;
          transition: color 250ms ease-in;
        }
      }

      li:first-child {
        width: 30%;
        justify-content: left;
        padding-left: 5%;
      }
      li:last-child {
        width: calc(22% - 2em);
        border: none;
      }
    }
    ul:nth-child(even) {
      background-color: $lightBlueGray;
    }
  }
  // ul > li {
  //   padding: 0.25em 0.5em;
  //   list-style: none;
  //   text-align: center;
  //   height: 1.5rem;
  // }
  .stock-options {
    div {
      display: flex;
      gap: 1.5em;
      border: none;
      width: 100%;
      justify-content: center;

      button {
        padding: 0.25em 0.5em;
      }
    }
  }
}
.stocks-dashboard-header,
.stocks-dashboard-content {
  width: 100%;
}
.stocks-dashboard-header {
  height: 4vh;
  display: flex;
  justify-content: center;
}

.stocks-dashboard-content {
  height: calc(100% - 4vh);
}

.grid-7 {
  display: flex;

  .balance {
    width: 50%;
    height: 100%;
    border-right: 1px solid black;

    h1,
    h4 {
      font-family: $sec-font;
    }
    h4 {
      opacity: 0.5;
    }
  }
  .change-balance {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em;
    }
  }
}

figure.grid-7 {
  padding-right: 0;
}

.portfolio-form {
  width: 100%;

  input {
    width: 80%;
    margin-left: 0.7em;
    font-size: 1.5em;
    border: none;
    border-bottom: 1px solid white;
    background-color: $lightBlueGray;
    color: white;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    margin: 0;
  }

  input::placeholder {
    font-size: small;
    font-family: $sec-font;
  }
}

.transaction-option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;

  button {
    padding: 0.2em 0.5em;
    border-radius: 4px;
    border-color: white;
  }

  input {
    cursor: pointer;
    border: none;
    color: white;
    font-family: $sec-font;
    font-weight: 800;
    transition: color 250ms ease-out;
  }

  input:hover {
    color: $blueBg;
    transition: color 250ms ease-in;
  }

  .deposit-btn {
    background-color: #1a7747;
    input {
      background-color: #1a7747;
    }
  }
  .withdraw-btn {
    background-color: red;
    input {
      background-color: red;
    }
  }
}

.grid-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .trade-stock-header {
    height: 10%;
    width: 100%;
    h3 {
      text-align: center;
      font-family: $main-font;
      background-color: $lightBlueGray;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      padding-top: 0.2em;
      // border-bottom: 5px solid white;
    }
  }
  .trade-stock-content {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: $sec-font;
    a {
      text-decoration: none;
      color: white;
    }
    a:first-child {
      border-top: 2px solid white;
    }
    a {
      height: 10%;
      width: 100%;
      padding: 0.1em 0;
      transition: font-weight 250ms ease-out;
      transition: background-color 250ms ease-out;
    }
    a:nth-child(even) {
      background-color: $lightBlueGray;
    }
    a:last-child {
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
    }
    a:hover {
      background-color: #1a7747;
      transition: font-weight 250ms ease-in;
      transition: background-color 250ms ease-in;
      font-weight: 800;
    }
    li {
      width: calc((100% / 3) - 0.7em);
      display: inline-flex;
      justify-content: center;
      font-size: small;

      span {
        width: 50%;
        text-align: center;
        border-radius: 4px;
        padding: 0.15em 0;
      }
    }
  }

  .trade-stock-type {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button:first-child {
      background-color: rgb(7, 121, 41);
    }
    button:last-child {
      background-color: rgb(209, 17, 17);
    }

    button {
      padding: 0.5em 1.75em;
      font-size: 1em;
      border-radius: 30px;
      border: 2px solid black;
    }
  }
}

figure.grid-2 {
  padding: 0;
}
.grid-4 {
  overflow-y: auto;

  h1 {
    text-align: center;
    border-bottom: 5px solid white;
    background-color: rgb(32, 48, 81);
    padding: 0.25em 0;
    font-family: $main-font;
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    // border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding: 0.5em 0;
    background-color: $blueBg;
  }

  ul:nth-child(odd) {
    background-color: rgb(32, 48, 81);
  }

  li {
    width: calc((100% / 4) - 0.7em);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: $sec-font;

    button {
      border: 1px solid black;
      padding: 0.2em 0.5em;
      border-radius: 4px;
      background-color: #28995f;
      font-family: $main-font;

      a {
        color: white;
        text-decoration: none;
        font-weight: 600;
        transition: color 250ms ease-out;
      }

      a:hover {
        color: $blueBg;
        font-weight: 600;
        transition: color 250ms ease-in;
      }
    }
  }
}

figure.grid-4 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

// Order Index Styles

.buy-transaction,
.sell-transaction {
  overflow-y: auto;
  h1 {
    text-align: center;
  }
  ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  li {
    width: calc((100% / 3) - 0.7em);
    display: inline-flex;
    justify-content: center;
  }
}

// STOCKS SHOW PAGE

.stock-show-page {
  width: 100vw;
  height: 100vh;
  background-color: $blueBg;
  color: white;
  overflow: hidden;
  padding: 0.5em;
  font-family: $sec-font;
}

.stock-container {
  height: 30vh;
  display: flex;
  align-items: center;
  background-color: $blueBg;
}

.stock-logo {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.stock-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  a {
    text-decoration: none;
    color: white;
    background-color: #1a7747;
    padding: 0.25em 0.5em;
    width: 10%;
    text-align: center;
    border-radius: 4px;
    font-weight: 600;
    transition: color 250ms ease-out;
    margin-bottom: 0.5em;
    font-size: 1.25em;
  }

  a:hover {
    color: $blueBg;
    transition: color 250ms ease-in;
  }
}
.stock-name-symbol {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.stock-name {
  font-size: 2em;
  margin-bottom: 0;
}

.stock-symbol {
  font-size: 1.5em;
  margin-top: -0.5em;
  color: gray;
}

.stock-price {
  font-size: 1.5em;
  margin-top: 0.25em;
  color: green;
}

.stock-quantity {
  font-size: 1.2em;
  margin: 0.5em 0;
  color: gray;
}

.stock-news {
  margin-top: 2vh;
  border: 2px solid white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.stock-news h1 {
  background-color: $lightBlueGray;
  text-align: center;
  font-family: $main-font;
  letter-spacing: 0.1em;
  height: 5vh;
}

.stock-news ul {
  height: 60vh;
  border-top: 1px solid white;
  overflow-y: auto;
  padding: 0.5em 0.75em;
}

.stock-news li {
  margin-bottom: 10px;
  list-style: none;
}

.stock-news a {
  width: 100%;
  font-size: 1.2em;
  color: $greenBg;
  text-decoration: none;
  background-color: none;
  font-family: $main-font;
}

.stock-news p {
  font-size: 1em;
  color: white;
  margin-top: 5px;
  margin-left: 10px;
  background-color: $blueBg;
}

.stock-description {
  height: 50%;
  overflow-y: auto;
}

.new_user {
  background-color: #071742;
  width: 100vw;
  height: 100vh;
}
