<div class="pending-page">
  <div>
    <h1>YOUR ACCOUNT IS STILL PENDING!</h1>
    <p>Check your email to know if your account got verified!</p>
    <h3>Thank you for your patience!</h3>
    <%= link_to "Check Stocks List For Now", stocks_path %>
  </div>
</div>